[sentry]
dsn = 
environment = 
release = 1.1.0

[backend]
url = 
update_sierra_items =

[registration]
name = 
key =

[ui]
update_interval_ms = 200
state_stability_threshold = 3
backend_refresh_interval = 10

[printer]
model = QL-810W
label = 29
hq = True
dpi_600 = True
red = False
dither = False
compress = True
signum_height = 60
signum_height_cd = 40
minimum_font_height = 30
font_path = assets/arialn.ttf
font_stroke_width = 1
