# Application environment
ENV=

# Sierra database configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Signum-savotta backend configuration
BACKEND_URL=
ETL_CLIENT_API_KEY=

# Sync job configuration
MAX_SYNC_DELTA_MINUTES=
SYNC_JOB_INTERVAL_SECONDS=
SYNC_JOB_MISFIRE_GRACE_TIME_SECONDS=

# Logging configuration
LOG_LEVEL=